*{
    margin: 0;
    padding: 0;
    outline: 0;
}

.navbar{
    width: 100%;
    height: 100px;
    background: #1856D8;
    
}
.navbar-nav{
    margin-left: 30px;
}

.nav-item .nav-link{
    color: #fff;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 200;

}
.get_started{
    padding: 10px 20px;
    border: 0px;
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    background: #FBBF24;
    box-shadow: 0px 10px 20px -20px rgba(15, 109, 89, 0.15);
    border-radius: 8px;
}
.header_right{
    line-height: 40px;
}

.heroBanner{
    background: url(/img/Polygon\ 1.png) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 950px;
    text-align: center;
    color: #fff;
}
.heroBanner h1{
    margin-top: 56.5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 68px;
}
.heroBanner p{
    margin: 36px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
}
.heroBanner img{
    max-width: 100%;
    height: 932px;
}
.heroBanner .hero_img{
    position: absolute;
    width: 1242px;
    height: 932px;
    left: 50px;
    top: 601px;
    background: url(/img/Untitled-1\ 1.png) no-repeat center;
    z-index: 778;
}
.hero_btn_two{
    padding: 10px 20px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    margin-left: 20px;
}
.circle{
    position: absolute;
    width: 724.73px;
    height: 726.37px;
    right: 0;
    top: 1150px;
    z-index: 300;
}
.circleLeft{
    position: absolute;
    width: 724.73px;
    height: 726.37px;
    left: 0;
    top: 1800px;
    z-index: 300;
}
#sub_hero h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    margin-top: 550px;
    text-align: center;
    columns: #000;
}
#sub_hero p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin-top: 24px;
}

.sponsorBox{
    margin-top: 80px;
    line-height: 100px;
    z-index: 510;
}
.sponsorBox img{
    max-width: 170px;
    height: 70px;
    margin: 0px;
    z-index: 510;
}
.row_two{
    margin-top: 40px;
}


#how_we_works{
    text-align: center;
    margin-top: 120px;
}
#how_we_works h2{
    font-family: Noto Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 2px;
    text-align: center;
    color: #047857;
    z-index: 999;


}
#how_we_works h1{
    font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 56px;
z-index: 999;


text-align: center;

color: #000000;
margin-top: 8px;

}
#how_we_works p{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
z-index: 999;
/* or 150% */

text-align: center;

color: #000000;
margin-top: 24px;
}

#how_we_works .how_weWorksImg{
    margin-top: 120px;
}


#ourWorkFlow .ourWorkFlowBG{
    width: 100%;
    height: 533px;
    background: url(/img/BG.png) no-repeat center;
    background-size: cover;
    margin-top: 120px;
    position: relative;
    z-index: 600;
}
#ourWorkFlow .ourWorkFlowBG img{
    position: absolute;
    top: 218px;
    left: 246px;
}
#ourWorkFlow .ourWorkFlowBG h1{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 130%;
text-align: center;
text-transform: capitalize;
color: #FFFFFF;
margin-top: 69px;
z-index: 501;
}
#ourWorkFlow .ourWorkFlowBG p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    opacity: 0.9;
    margin-bottom: 79.78px;
}
#ourWorkFlow .ourWorkFlowBG .bgCircleWrap{
    text-align: center;
}
#ourWorkFlow .ourWorkFlowBG .bgCircle{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #fff;
    line-height: 70px;
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 32px;
margin: 0 auto;
text-align: center;
text-transform: capitalize;
color: #1C54FD;
}
#ourWorkFlow .ourWorkFlowBG .bgCircleWrap h1{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 24px;
margin-top: 30px;
} 
#ourWorkFlow .ourWorkFlowBG .bgCircleWrap p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 200;
font-size: 16px;
}
.whyBusinessChooseUs{
    position: relative;
}
.whyBusinessChooseUs .left{
    position: relative;
}
.whyBusinessChooseUs .el_left{
    position: absolute;
    left: 0;
    top: -600px;
    z-index: 500;
}
.whyBusinessChooseUs .left img{
    position: absolute;
    left: 0;
    margin-top: 75px;
    z-index: 1;
}
#how_we_works .whyBusinessChooseUs .right{
    margin-top: 162px;
}

#how_we_works .whyBusinessChooseUs .rightSection{
    margin-top: 40px;
}
#how_we_works .whyBusinessChooseUs .rightSection h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #1C54FD;
    text-align: left;
}
#how_we_works .whyBusinessChooseUs .rightSection p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    text-align: left;
    margin-top: 0;
}
#pricing{
    margin-top: 200px;
    height: 600px;
    background: #1F2937;
}

#pricing h2{
    font-family: Noto Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 2px;
    text-align: center;
    color: #88A6FF;
    z-index: 999;
    margin-top: 80px;


}
#pricing h1{
    font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 56px;
z-index: 999;
margin-top: 10px;

text-align: center;

color: #fff;
margin-top: 8px;

}
#pricing p{
    font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 16px;
line-height: 24px;
z-index: 999;
text-align: center;
color: #fff;
margin-top: 12px;
}