*{
    margin: 0;
    padding: 0;
    outline: 0;
}

.navbar{
    width: 100%;
    height: 100px;
    background: #1856D8;
    
}
.navbar-nav{
    margin-left: 30px;
}

.nav-item .nav-link{
    color: #fff;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 200;

}
.nav-link{
    transition: .2s ease-in;
}

.nav-link:hover{
    color: rgb(201, 201, 201) !important;
}
.nav-link:focus{
    color: rgb(201, 201, 201) !important;
    border-bottom: 3px solid #fff;
}
.nav_btn{
    
}

.get_started{
    padding: 10px 20px;
    border: 0px;
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    background: #FBBF24;
    box-shadow: 0px 10px 20px -20px rgba(15, 109, 89, 0.15);
    border-radius: 8px;
    transition: .2s ease-in;
    margin-left: 30px;
}
.get_started:hover{
    background: #c9940d;
}
.header_right{
    line-height: 40px;
}

.heroBanner{
    background: url(/img/Polygon\ 1.png) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 950px;
    text-align: center;
    color: #fff;
}
.heroBanner h1{
    margin-top: 56.5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 68px;
}
.heroBanner p{
    margin: 36px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
}
.heroBanner img{
    max-width: 100%;
    height: 932px;
}
.heroBanner .hero_img{
    position: absolute;
    width: 1242px;
    height: 932px;
    left: 50px;
    top: 601px;
    background: url(/img/Untitled-1\ 1.png) no-repeat center;
    z-index: 778;
}
.hero_btn_two{
    padding: 10px 20px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    margin-left: 20px;
    transition: .2s ease-in;
}
.hero_btn_two:hover{
    background: rgb(247, 247, 247);
    color: #1856D8;
}
.circle{
    position: absolute;
    width: 724.73px;
    height: 726.37px;
    right: 0;
    top: 1150px;
    z-index: 300;
}
.circleLeft{
    position: absolute;
    width: 724.73px;
    height: 726.37px;
    left: 0;
    top: 1800px;
    z-index: 300;
}
#sub_hero h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    margin-top: 550px;
    text-align: center;
    columns: #000;
}
#sub_hero p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin-top: 24px;
}

.sponsorBox{
    margin-top: 80px;
    line-height: 100px;
    z-index: 510;
}
.sponsorBox img{
    max-width: 170px;
    height: 70px;
    margin: 0px;
    z-index: 510;
}
.row_two{
    margin-top: 40px;
}


#how_we_works{
    text-align: center;
    margin-top: 120px;
}
#how_we_works h2{
    font-family: Noto Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 2px;
    text-align: center;
    color: #047857;
    z-index: 999;


}
#how_we_works h1{
    font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 56px;
z-index: 999;


text-align: center;

color: #000000;
margin-top: 8px;

}
#how_we_works p{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
z-index: 999;
/* or 150% */

text-align: center;

color: #000000;
margin-top: 24px;
}

#how_we_works .how_weWorksImg{
    margin-top: 120px;
}


#ourWorkFlow .ourWorkFlowBG{
    width: 100%;
    height: 533px;
    background: url(/img/BG.png) no-repeat center;
    background-size: cover;
    margin-top: 120px;
    position: relative;
    z-index: 600;
}
#ourWorkFlow .ourWorkFlowBG img{
    position: absolute;
    top: 218px;
    left: 246px;
}
#ourWorkFlow .ourWorkFlowBG h1{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 130%;
text-align: center;
text-transform: capitalize;
color: #FFFFFF;
margin-top: 69px;
z-index: 501;
}
#ourWorkFlow .ourWorkFlowBG p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    opacity: 0.9;
    margin-bottom: 79.78px;
}
#ourWorkFlow .ourWorkFlowBG .bgCircleWrap{
    text-align: center;
}
#ourWorkFlow .ourWorkFlowBG .bgCircle{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #fff;
    line-height: 70px;
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 32px;
margin: 0 auto;
text-align: center;
text-transform: capitalize;
color: #1C54FD;
}
#ourWorkFlow .ourWorkFlowBG .bgCircleWrap h1{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 24px;
margin-top: 30px;
} 
#ourWorkFlow .ourWorkFlowBG .bgCircleWrap p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 200;
font-size: 16px;
}
.whyBusinessChooseUs{
    position: relative;
}
.whyBusinessChooseUs .left{
    position: relative;
}
.whyBusinessChooseUs .el_left{
    position: absolute;
    left: 0;
    top: -600px;
    z-index: 500;
}
.whyBusinessChooseUs .left img{
    position: absolute;
    left: 0;
    margin-top: 75px;
    z-index: 1;
}
#how_we_works .whyBusinessChooseUs .right{
    margin-top: 162px;
}

#how_we_works .whyBusinessChooseUs .rightSection{
    margin-top: 40px;
}
#how_we_works .whyBusinessChooseUs .rightSection h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #1C54FD;
    text-align: left;
}
#how_we_works .whyBusinessChooseUs .rightSection p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    text-align: left;
    margin-top: 0;
}
#pricing{
    margin-top: 200px;
    height: 700px;
    background: #1F2937;
}

#pricing h2{
    font-family: Noto Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 2px;
    text-align: center;
    color: #88A6FF;
    z-index: 999;
    margin-top: 80px;


}
#pricing h1{
    font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 56px;
z-index: 999;
margin-top: 10px;

text-align: center;

color: #fff;
margin-top: 8px;

}
#pricing p{
    font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 16px;
line-height: 24px;
z-index: 999;
text-align: center;
color: #fff;
margin-top: 12px;
}


.price_slider{
    color: #fff;
}
.cardOne{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    background: #fff;
    border-radius: 10px;
    transition: .2s ease-in;
}
.card_top{
    display: flex;
flex-direction: column;
align-items: center;
padding: 40px 24px;
position: relative;
width: 327px;
height: 188px;
}
.card_top span{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 28px;
color: #6B7280;
}
.most_popular{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px 16px;
    position: absolute;
    width: 152px;
    height: 28px;
    left: calc(50% - 152px/2);
    top: -14px;
    background: linear-gradient(224.02deg, #1C54FD 52.74%, #430DFA 94.15%);
    border-radius: 14px;
    color: #fff;
}
.card_bottom{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 40px;
width: 327px;
height: 266px;
box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.cardOne h1{
    font-family: 'Inter';
font-style: normal;
font-weight: 800 !important;
font-size: 60px !important;
color: #1F2937 !important;
}
.cardOne h1 span{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 40px;
color: #1F2937;
}
.cardOne h2{
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 32px;
letter-spacing: 0em;
text-align: center;
margin-top: 0 !important;
color: #1F2937 !important;
}
.cardOne h3{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
text-align: left !important;
color: #6B7280;
}
.cardOne h3 .fa-check{
    color: #1856D8;
    margin-right: 5px;
}
.cardOne button{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 13px 21px;
box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
border-radius: 8px;
border: none;
width: 247px;
height: 50px;
background: #FFFFFF;
color: #1856D8;
font-family: Inter;
font-size: 16px;
font-weight: 500;
letter-spacing: 0em;
text-align: left;
margin-top: 40px;
transition: .2s ease-in-out;
}

.cardOne:hover{
    transform: scale(1.1);
    border: 2px solid #1C54FD;
}
.cardOne:hover button{
    background: linear-gradient(224.02deg, #1C54FD 52.74%, #430DFA 94.15%);
    color: #fff;
}

.clients_say{
    width: 100%;
    height: 700px;
    background: ;
    margin-top: 250px;
}
.clients_say p{
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0px;
text-align: center;
color: #576B81;
margin-top: 30px;
}
.clients_say h1{
font-family: Inter;
font-size: 40px;
font-weight: 700;
line-height: 52px;
letter-spacing: 0px;
text-align: center;
margin-top: 100px;
}
.clients_say img{
    max-width: 100%;
    height: 350px;
    margin-top: 69px;
    position: relative;
}


.review_box{

    position: absolute;
    top:-250px;
    left: 0;
}
.review_box .slide{
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    text-align: center;
    align-items: center;
    color: #000;
    position: relative;
}
.slide img{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
.slide h1{
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    

}
.slide .fa-star{
    color: gold;
}
.slide .blank{
    color: grey;
}

#cta{
    margin-top: 246px;
}
.cta_bg{
    width: 100%;
    height:579.64px;
    background: linear-gradient(224.02deg, #1C54FD 52.74%, #430DFA 94.15%);
    text-align: center;
    position: relative;
}
.cta_bg h1{
font-family: Inter;
font-size: 40px;
font-weight: 700;
line-height: 52px;
letter-spacing: 0px;
text-align: center;
text-transform: capitalize;
margin-top: 108px;
color: #F2F2F2;
}
.cta_bg p{
    font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 16px;
line-height: 26px;
/* or 162% */

text-align: center;

/* Text/White */

color: #FFFFFF;
margin-top: 32px;
margin-bottom: 128px;
}

.cta_bg .recteight{
    position: absolute;
    left: 49px;
    top: 77px;
    z-index: 500;
}
.cta_bg .rectnine{
    position: absolute;
    left: 0;
    top: 166px;
    z-index: 500;
}
.cta_bg .maskgroup{
    width: 100%;
    height: 579px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 500;
}
.cta_bg .rightrect{
    position: absolute;
    top: 166px;
    right: 0;
    overflow: hidden;
    z-index: 500;
}
.cta_bg .cta_wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 600;
}


.faquestions h1{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 52px;
/* identical to box height, or 130% */

text-align: center;
text-transform: capitalize;
margin-top: 120px;
color: #202020;
}
.faquestions p{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */

text-align: center;

/* Text/Sub-Heading */

color: #4D4D4D;
margin-bottom: 78px;
}
.faq_header{
    width: 100%;
    text-align: left;
    border-radius: 8px 8px 0px 0px;
    border: 1px solid #0A1E33;
}
.faq_header a{
    width: 100%;
    height: 80px;
    line-height: 60px;
font-family: Inter;
font-size: 18px;
font-weight: 600;
letter-spacing: 0px;
text-align: left;

}
.faq_header:hover{
    background: linear-gradient(224.02deg, #1C54FD 52.74%, #430DFA 94.15%);
    color: #fff;
    border: 0;

}
.faq_header:focus{
    background: linear-gradient(224.02deg, #1C54FD 52.74%, #430DFA 94.15%);
    color: #fff;
    border: 0;
}
.faq_spacer{
    margin-top: 50px;
}


/* Footer css */

.footer_wrapper{
    width: 100%;
    margin-top: 200px;
}
.footer_wrapper .container{
    border-bottom: 1px solid#0A1E33;
}
.footer_wrapper p{
    margin-top: 25px;
font-family: Inter;
font-size: 17px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0px;
text-align: left;
}
.footer_wrapper .socialMenu{
    list-style: none;
    margin-left: -30px;
    margin-top: 32px;
}
.footer_wrapper .socialMenu li{
    float: left;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    margin: 0 10px;
   
    
}
.footer_wrapper .socialMenu li{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 5px;
    color: #000;
    transition: .1s ease-in;
}
.footer_wrapper .socialMenu li a{
    color: #000;
    transition: .3s ease-in;
}
.footer_wrapper .socialMenu li:hover{
    background:#000;
    border: 0;
}
.footer_wrapper .socialMenu li:hover a{
    color: #1C54FD;
}
.footer_wrapper h2{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 28px;
text-transform: capitalize;
color: #0A1E33;
margin-left: 32px;
}
.footer_wrapper ul{
    list-style: none;
}
.footer_wrapper ul li{
    
}
.footer_wrapper ul li a{
    text-decoration: none;
    color: #171717;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
transition: .2s ease;
}
.footer_wrapper ul li a:hover{
    color: #1856D8;
}
.copyrightArea{
    width: 100%;
    height: 100px;
    line-height: 100px;
}
.copyrightArea span{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #0A1E33;
}
.copyrightArea a{
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #0A1E33;
}